<div class="container">
  <h1> Redirigiendo a PayU... </h1>
</div>

<form method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">
  <input name="merchantId"    type="hidden"  value="<%= ENV["PAYU_MERCHANT_ID"] %>" >
  <input name="accountId"     type="hidden"  value="<%= ENV["PAYU_ACCOUNT_ID"] %>" >
  <input name="description"   type="hidden"  value="Pago por pizza napolitana" >
  <input name="referenceCode" type="hidden"  value="<%= @charge.uid %>" >
  <input name="amount"        type="hidden"  value="<%= @charge.amount %>" >
  <input name="tax"           type="hidden"  value="0" >
  <input name="taxReturnBase" type="hidden"  value="0" >
  <input name="currency"      type="hidden"  value="COP" >
  <input name="signature"     type="hidden"  value="<%= @signature %>" >
  <input name="test"          type="hidden"  value="1" >
  <!-- <input name="test"          type="hidden"  value="<%= Rails.env.production? ? 0 : 1 %>" > -->
  <%# <input name="buyerEmail"    type="hidden"  value="test@test.com" > %>
  <input name="responseUrl"    type="hidden"  value="<%= ENV["HOSTNAME"] %>/payu/response" >
  <input name="confirmationUrl"    type="hidden"  value="<%= ENV["HOSTNAME"] %>/payu/confirmation" >

  <!-- <div class="div col-12">
    <input name="Submit"        type="submit"  value="Continuar" >
  </div> -->
</form>

<script>
  document.querySelector("form").submit();
</script>
